.hidden{
    display: none;
}
body{
    
    font-family: "Pacifico";
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;

}

button{
    background-color: #ffffff00;
    border: #ffffff00;
    color: white;
}
h2{
    color: white;
}
.overlay-box {
    position: relative;
    width: 85vw; /* 원하시는 크기로 조절해주세요 */
    height: 85vh; /* 원하시는 크기로 조절해주세요 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* 가로 중앙 정렬을 위해 추가 */
    background-color: rgba(0, 0, 0, 0.337); /* 이미지 파일 경로를 지정해주세요 */
    background-size: cover; /* 이미지를 화면에 맞게 조절 */
    background-position: center; /* 이미지를 가운데 정렬 */
    border-radius: 10px;
}
#clock{
    
    font-size: 12vh; 
    
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
  
}

#greeting {
    position: absolute;
    font-size: 6vh;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #login_form {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  input {
    position: absolute;
    top: calc(30% + 13vh);
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vh;
    text-align: center;
    border: none;
    border-bottom: 2px solid #000;
    background-color: transparent;
    outline: none;
    width: 30vw;
    border-color: #e1e0e0;
    color: white;
    font-family: "Pacifico";
  }
  
  input::placeholder {
    color: #e1e0e0;
    font-family: "Pacifico";
  }
  input:focus::placeholder {
    color: #e1e0e0; /* placeholder 클릭 시에도 흰색으로 보이도록 설정 */
  }
  
  #todo_list {
    position: absolute;
  top: calc(45% + 4vh);
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  padding: 0;
  text-align: center;
  display: flex; /* Flexbox를 사용하여 정렬 */
  flex-direction: column; /* 세로로 정렬 */
  align-items: center; /* 가운데 정렬 */
  
  }
  
  #todo_list li {
    
    margin: 0 10px;
  }
  #weather {
    position: absolute;
    bottom: calc(5% + 1vh);
    right: 10%;
    transform: translateX(0%);
  }

  
  